# myApp/docker-compose.yaml
#version: "3.8"
services:
  mongo:
    image: mongo
    container_name: mongo_c
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
      
  frontend:
    build: ./my-react-app
    container_name: frontend_c
    ports:
      - '3000:3000'
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: backend_c
    ports:
      - '4000:4000'
    depends_on:
      - mongo

volumes:
    mongo_data: